
### R ###
# History files
.Rhistory
.Rapp.history

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/


# R Environment Variables
.Renviron
/.quarto/
